* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: blue;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    min-width: 25%;
    height: 30vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

#counter-label {
    color: blue;
    font-size: 60px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
    width: 100%;
}

.button button {
    padding: 8px 24px;
    font-size: 20px;
    color: #fff;
    background-color: blue;
    border: none;
}

@media (max-width:800px) {
    .button button {
        padding: 5px 20px;
        font-size: 18px;
    }
}